/* Selector de ID */
#tituloPrincipal {
    color: #9213e8;
    font-size: 50px;   
}

.parrafoNegrita{
    font-weight:bold;
    color:darkgreen;
}

.parrafoEspecial {
    font-family: Comic Sans MS;
}

.prioridad{
    color: red;
}

.prioridad2{
    color: purple;
}

.prioridad1{
    color: red;
}

p{
    word-spacing: 8px;
}

.ejemploCajas{
    border: 2px solid black;
    /* 1 parametro= aplica los 4 lados */
    /*  padding-top: 10px;*/

    /* 2 parametros = top/bottom - left/right*/
    /*padding:20px 10px;*/
    
    /* 3 parametros = top - left/right -bottom*/
    /*padding:20px 10px 15px;*/
    
    /* 4 parametros = top - right -bottom - left*/
    /*padding:20px 10px 15px 30px;
    margin:20px 10px 15px 30px;*/
    width: 50%;
    text-align: center;
    margin: 0 auto;
} 
   
a:link {
   color: crimson;  
   background-color: aquamarine;
   border: 2px solid aquamarine;
   margin: 10px;
   
   
   border-radius: 25px; 
}

a:visited {
    color:black;
} 

a:hover {
    color:white;
    background-color: green;
    transition: 1.5s;
} 

a:active {
    color:white;
    background-color: purple;
} 

